*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{background-color: rgb(0, 0, 0);overflow-x: hidden;}

.nav{
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 38);
    box-shadow: 0 3px 30px 0 #000;
    animation: nav 0.4s ease-in-out, infinite;
}
@keyframes nav {
    from { margin-top: -90px}
    to { margin-top: 0 }
}
.nav-container{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.nav-container-logo{
    font-size: 40px;
    color: rgb(61, 167, 0);
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
    overflow: hidden;
    border-right: .15em solid rgb(38, 38, 38); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em;
    animation: 
    typing 1s steps(50, end),
    blink-caret 0.7s infinite;
}

    @keyframes typing {
    from { width: 0 }
    to { width: 99% }
}

    @keyframes blink-caret {
        
  from, to { border-color: transparent }
  50% { border-color:rgb(61, 167, 0) }
}


.nav-container-button{
    display: flex;
    gap: 30px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    height: auto;
}
.nav-container-button-link{
    color: #fff;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s ease;
}
.nav-container-button-link:hover{
    background-color: #fff;
    color: #000;
}
.card-title{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.card{
    display: flex;
    margin-top: -50px;
    flex-direction: row;
    height: 50vh;
    width: auto;
    color: wheat;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction:row;
    gap: 50px;
}

.card-container-cards{
    padding: 150px 200px;
    border-radius: 15px;
    background-color: rgb(39, 36, 31);
    text-align: justify;
    transition: all .2s;
    box-shadow: 0 10px 0 3px rgb(91, 91, 91);
}
.card-container-cards:hover{
    color: #000;
    background-color: rgb(80, 65, 41);
    box-shadow: 0 8px 0 0 rgb(91, 91, 91);
}
@media (max-width: 1498px){
    .card-container{
        flex-direction:column;
    }
    .card{
        margin-bottom: 203px;
        margin-top: 310px;
        height: 70vh;
    }
    .card-title{
        padding-top: 82px;
    }
}
@media (max-width: 750px){
    .card-container-cards{
        padding: 100px 100px;
    }
}
.about{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -100px;
    color: #fff;
}
.about-card{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 1500px;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    gap: 50px;
}
.about-card-content {
    height: 347px;
    width: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    background: rgb(39, 36, 31);
    box-shadow: 3px 10px 0 0 #fff;
    transition: all 0.3s ease-in-out;
}.about-card-content:hover{box-shadow: 0 0 0 10px rgb(17, 182, 2);}
.contenitore{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.box-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    flex-direction: column;
}
.box-logo-icon{
    display: flex;
    gap: 20px;
}
.avatar{
    border-radius: 50%;
    box-shadow: 2px 2px 1px #fff;
    transition: all 0.2s ease-in;
}.avatar:hover{box-shadow: 0px 0px 0px #fff;}

.about-card-content-info{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 20px;
    width: 300px;
    height: 300px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 30px;
}
.spacer{
    aspect-ratio: 920/300;
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('/images/wave-haikei.svg');
}
@media (max-width: 1140px){
    .about-card{
        flex-direction: column;
    }
}
@media (max-width: 750px){
    .about-card-content{
        height: auto;
        width: 295px;
    }
    .contenitore{
        gap: 0;
        flex-direction: column;
    }
    .about-card-content-info{
        font-size: 22px;
        width: 226px;
        height: 400px;
        height: 246px;
        line-height: 22px;
    }
    .box-logo{
        gap: 35px;
    }
    .about{
        margin-bottom: 300px;
    }
}